<div class="row">

    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <!-- Directiva estructural *ngIf en base a resultados como true o false-->
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">{{frase.autor}}</h5>
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>

        <button (click)="mostrar = !mostrar" class="btn btn-outline-primary btn-block">
            Mostrar/Ocultar
        </button>


    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group">
            <!-- Directiva estructural *ngFor trabaja en base a arreglos-->
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">
                <!-- Se imprime 3 veces, por que es el tamaño del arreglo personajes-->
                {{i+1}} .- {{personaje}}

            </li>

        </ul>

    </div>


</div>