<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Auth0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="public">Public</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async">
                    <a class="nav-link" routerLink="private">Private</a>
                </li>
            </ul>
        </div>
    </div>
    <button class="btn btn-primary" (click)="loginWithRedirect()" *ngIf="!(auth.isAuthenticated$ | async)">Ingresar</button>
    <button class="btn btn-danger ml-5" (click)="logout()" *ngIf="auth.isAuthenticated$ | async">Salir</button>
</nav>





<div class="container mt-5">
    <router-outlet></router-outlet>
</div>