<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>



<div class="card-columns ">

    <div class="card animated fadeIn " *ngFor="let heroe of heroes; let i = index ">

        <img class="card-img-top img-fluid " [src]="heroe.img" alt="heroe.nombre">
        <div class="card-block">
            <h4 class="card-title">{{heroe.nombre}}</h4>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>



            <a [routerLink]="['/heroe', i ]" class="btn btn-outline-primary">Ver mas...</a>
        </div>
    </div>
</div>